.v-data-table thead {
    /*background-image: url('../../public/img/header-profile-skin-2.png');*/
    /*background-size: 100%;*/
}

.v-data-table tbody {
}

.v-data-table th {
    color: rgba(0, 0, 0, 0.87) !important;
    font-size: 15px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.v-data-table td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 300px;
}

.v-data-table th:first-child {
    border-radius: 4px 0px 0px 0px !important;
}

.v-data-table th:last-child {
    border-radius: 0px 4px 0px 0px !important;
}

.v-data-table__wrapper table {
    /*table-layout: fixed;*/
    /*width: 100%;*/
}

.v-menu__content.theme--light.menuable__content__active.v-small-dialog__menu-content {
    min-width: 50% !important;
}

.v-btn {
    background-color: white !important;
}

.logo-style {
    padding: 25px;
    /*background-image: url('../../public/img/header-profile-skin-2.png');*/
    /*background-size: 100%;*/
    background-color: #2f4050 !important;
}

h3 {
    color: #DFE4ED;
}

h4 {
    color: #8095A8;
}

.v-list-item .v-list-item__title {
    font-size: 15px;
    color: #DFE4ED;
}

.v-list-item--active .v-list-item__title {
    font-size: 15px;
    color: #1976d2 !important;
}

.v-list-item__icon i, svg {
    font-size: 15px !important;
    color: #8095A8 !important;
}

.v-list-item i, svg {
    color: #8095A8 !important;
}

.v-divider {
    display: block;
    flex: 1 1 0px;
    max-width: 100%;
    height: 4px;
    max-height: 0px;
    border: solid;
    border-width: 4px 0 0 0 !important;
    transition: inherit;
    border-color: #8095A8 !important;
    margin-bottom: 20px;
}

.v-subheader {
    align-items: center;
    display: flex;
    height: 48px;
    color: #8095A8 !important;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 16px 0 16px;
}

.main-header {
    height: 50px;
    width: 100%;
    padding: 11px 30px;
    color: #DFE4ED;
    background-color: #2f4050 !important;
    /*background-image: url('../../public/img/header-profile-skin-2.png');*/
    /*background-size: 100%;*/
}

